<h1>Aurora Daycares</h1>
<%ascend = @daycares.sort_by do |daycare| %>
<p><% daycare.created_at %></p>
<% end %>

<% ascend.each do |daycare| %>
<h3><p><%= link_to daycare.name, "/daycares/#{daycare.id}/teachers" %></p></h3>
<% end %>

