<html>
<head>
<style>
div.c {
  text-align: right;
} 

</style>
</head>
<body>

<div class="c"> <%= button_to "Teachers Homepage", "/teachers"%> <%= button_to "Daycares Homepage", "/daycares" %> </div>

<h3>Meet the teachers of the Aurora District</h3>

    <% @teachers.each do |teacher| %>
<h4> <%= link_to teacher.name, "/teachers/#{teacher.id}" %> </h4>
    <% end %>